<div class="row">

    <div class="alert alert-danger" role="alert" style="display: none;">
        Unknown username or password
    </div>
    <!--[formGroup]="loginForm"-->
    <form name="login8Form" role="form" novalidate >

        <div class="row">
            <div class="form-group col-xs-6 col-xs-push-3 left-inner-addon">
                <i class="glyphicon glyphicon-user"></i>
                <input id="login" type="text" class="form-control" name="login" placeholder="Login" />
            </div>
            <!--formControlName="login"-->

            <div class="has-error col-xs-3 col-xs-push-3" role="alert" *ngIf="loginForm.controls.login.dirty && loginForm.controls.login.hasError('required')">
                <span class="help-block">* enter</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-6 col-xs-push-3 left-inner-addon">
                <i class="glyphicon glyphicon-lock"></i>
                <input id="password" type="password" class="form-control" name="password" placeholder="Password" />
            </div>
            <!--formControlName="password"-->

            <div class="has-error col-xs-3 col-xs-push-3" role="alert" *ngIf="loginForm.controls.password.hasError('required')">
                <span class="help-block">* enter</span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-xs-push-3">
                <button type="submit" class="form-group btn btn-default">
                    <i class="glyphicon glyphicon-cloud-upload"></i>
                    Enter
                </button>
            </div>
        </div>

    </form>

</div>
