html, body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding-top: 80px;
}

main {
    margin-bottom: 50px;
}

footer .navbar-link{
    line-height: 48px;
}

mark {
    padding: 0;
    background-color: #FFFF00;
}

h3 {
    display: inline-block;
    margin-top: 0;
}

.left-inner-addon {
    position: relative;
}

.left-inner-addon input {
    padding-left: 30px;
}

.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #CCCCCC;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.bs-callout+.bs-callout {
    margin-top: -5px;
}

.bs-callout-default {
    border-left-width: 5px;
    border-left-color: #BBBBBB;
}

.text-ellipsis {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
